@font-face {
  font-family: 'CooperHewitt-Book';
  src: url('fonts/CooperHewitt-Book.eot');
  src: url('fonts/CooperHewitt-Book.woff2') format('woff2'),
       url('fonts/CooperHewitt-Book.woff') format('woff'),
       url('fonts/CooperHewitt-Book.ttf') format('truetype'),
       url('fonts/CooperHewitt-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?amxlx0');
  src:  url('fonts/icomoon.eot?amxlx0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?amxlx0') format('truetype'),
    url('fonts/icomoon.woff?amxlx0') format('woff'),
    url('fonts/icomoon.svg?amxlx0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e905";
}
.icon-down_arrow:before {
  content: "\e904";
}
.icon-paperplane:before {
  content: "\e902";
}
.icon-send:before {
  content: "\e902";
}
.icon-flight:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-tablet:before {
  content: "\e903";
}
.icon-mobile:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e901";
}
.icon-calendar-o:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
